html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /* touch-action: none; */
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "arial";
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-color: #fff;
}

body {
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
}

i,
strong {
    font-style: normal;
}

td,
th {
    padding: 0;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a,
a:visited {
    text-decoration: none;
}

img {
    border: 0;
    pointer-events: none;
    content: normal !important;
}

input {
    outline: none;
    border: none;
    -webkit-appearance: none;
    background: transparent
}

ul {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.hide,
.none {
    display: none;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.text_center {
    text-align: center;
}

.txt-hide {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.txt-hide2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.txt-hide3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex1 {
    flex: 1;
}

.row {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.f-center {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.f-between {
    -webkit-box-pack: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.f-around {
    -webkit-box-pack: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.f-align {
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.centerHV {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}


.readerContent .chaptertitle {
    font-weight: bold;
    text-align: center;
}

/* 提示框 */
.mint-msgbox-title {
    font-size: .32rem!important;
}

 .mint-msgbox-btn {
    font-size: .28rem!important;
    font-size: .30rem!important;
}

.mint-msgbox-message {
    line-height: .6rem!important;
}